In [1]:
from util import *

In [2]:
df = load_data()
df.head(10)

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4,Unnamed: 59
0,7005,20070101000000,101560,70,3,260,9.800000,283.650000,280.750000,82,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
1,7015,20070101000000,101300,-90,5,270,9.800000,285.250000,281.950000,80,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
2,7020,20070101000000,101600,50,0,250,14.900000,285.550000,282.150000,80,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
3,7027,20070101000000,101800,170,1,240,11.800000,285.050000,281.550000,79,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
4,7037,20070101000000,101760,30,3,270,8.700000,284.450000,280.750000,78,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
5,7110,20070101000000,102130,120,1,260,7.200000,283.950000,279.350000,73,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
6,7117,20070101000000,101940,80,1,260,10.800000,284.750000,281.250000,79,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
7,7130,20070101000000,102230,130,3,240,6.200000,285.650000,282.450000,81,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
8,7139,20070101000000,102050,60,1,250,8.700000,286.350000,282.450000,77,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
9,7149,20070101000000,101960,-70,6,220,9.800000,286.650000,284.850000,89,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN