In [1]:
from util import *

In [2]:
df = load_data(dt = 'p', name = 2007)

In [5]:
df.head(20)

,date,time,g_active_power,g_reactive_power,voltage,global_intensity,sub_1_kitchen,sub_2_laundry,sub_3_wh_ac
0,1/1/2007,00:00:00,2.580,0.136,241.970,10.600,0.000,0.000,0.0
1,1/1/2007,00:01:00,2.552,0.100,241.750,10.400,0.000,0.000,0.0
2,1/1/2007,00:02:00,2.550,0.100,241.640,10.400,0.000,0.000,0.0
3,1/1/2007,00:03:00,2.550,0.100,241.710,10.400,0.000,0.000,0.0
4,1/1/2007,00:04:00,2.554,0.100,241.980,10.400,0.000,0.000,0.0
5,1/1/2007,00:05:00,2.550,0.100,241.830,10.400,0.000,0.000,0.0
6,1/1/2007,00:06:00,2.534,0.096,241.070,10.400,0.000,0.000,0.0
7,1/1/2007,00:07:00,2.484,0.000,241.290,10.200,0.000,0.000,0.0
8,1/1/2007,00:08:00,2.468,0.000,241.230,10.200,0.000,0.000,0.0
9,1/1/2007,00:09:00,2.486,0.000,242.180,10.200,0.000,0.000,0.0
10,1/1/2007,00:10:00,2.492,0.000,242.460,10.200,0.000,0.000,0.0
11,1/1/2007,00:11:00,2.500,0.000,242.880,10.200,0.000,0.000,0.0
12,1/1/2007,00:12:00,2.494,0.000,242.570,10.200,0.000,0.000,0.0
13,1/1/2007,00:13:00,2.492,0.000,242.410,10.200,0.000,0.000,0.0
14,1/1/2007,00:14:00,2.480,0.000,241.810,10.200,0.000,0.000,0.0
15,1/1/2007,00:15:00,2.478,0.000,241.730,10.200,0.000,0.000,0.0
16,1/1/2007,00:16:00,2.470,0.000,241.290,10.200,0.000,0.000,0.0
17,1/1/2007,00:17:00,2.466,0.000,241.110,10.200,0.000,0.000,0.0
18,1/1/2007,00:18:00,2.456,0.000,240.590,10.200,0.000,0.000,0.0
19,1/1/2007,00:19:00,2.460,0.000,240.830,10.200,0.000,0.000,0.0